.staff-container {
  position: relative;
}

.note {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  border: 8px solid black;

  position: absolute;
  left: 330px;
}

.progress, .current-notes {
  height: 1em;
  font-size: 3em;
  text-align: center;
}
